.dashboard{
    padding: 24px;
    display: flex;
    gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #e5e7eb;
}

.card p{
    font-size: 28px;
    font-weight: bold;
}